@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --color-bg: #f8fafc;
  --color-text: #0f172a;
}

html {
  font-family: -apple-system, BlinkMacSystemFont, sans-serif;
}

body {
  background-color: var(--color-bg);
  color: var(--color-text);
}
